<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEAN Stack Course Checkout</title>
  <link rel="stylesheet" href="/stylesheet/styles.css">
</head>
<body>
  <div class="course-container">
    <img src="/images/MeanStack.jpg" alt="MEAN Stack Course" class="course-image">
    <h2>MEAN Stack Web Development Course</h2>
    <p>Price: $50.00</p>
    <div id="paypal-button-container"></div>
  </div>
  <script src="https://www.paypal.com/sdk/js?client-id=Abcr7mxWbP-Cl8Tgp_aFuvUBVr7cMsP3TMi1Zoe8OaWSrVjJvIHCywMikbTExwSqIgeeV2fEbxznTh4a"></script>

  <script src="/js/paypal-script.js"></script>


</body>
</html>
